@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Kurale&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Forum');
@import url("buttons.css");
@import url("style_popup.css");
@import url("ontop.css");
@import url("sidemenu.css");
@import url("contact.css");
@import url("dropmenu.css");
@import url("slidemenu.css");
@import url("slider.css");
@import url("search.css");
@import url("bread.css");
@import url("fileinput.css");

.top {
	left: 0;
	right: 0;
	background: linear-gradient(to top, #344969, #34495E);
	height: 20vh;
	width: 100%;
}
#toptext {
	font: bold 8vh 'Alegreya Sans';
	color: #F5FFFA;
	text-align: center;
	letter-spacing: 1vw;
	transform: translate(0, 50%);
 	vertical-align: middle;
 	margin-top: 0px;
}
.bottom {
	bottom: 0;
	background: linear-gradient(to bottom, #344969, #34495E);
	height: auto;
	width: 100%;
}
#bottomtext {
	font: 2vh 'Forum';
	color: #F5FFFA;
	float: left;
	text-align: center;
	text-decoration: none;
 	padding: 1vw 1vw 1vw 1vw;
 	margin: 15vh 0 0 30vw;
}
.ref {
	text-decoration: none;
 text-align: center;
 display: inline-block;
 background-image: linear-gradient(to left,transparent,transparent 50%, #34495E 50%, #34495E);
 background-position: 100% 0;
 background-size: 200% 100%;
 transition: all .25s ease-in;
 font: 500 3vh 'Forum';
 border-bottom: 2px solid #34495E;
}
.ref:hover {
background-position: 0 0;
color: white;
}
.ref:visited {
	color: #AA0000;
	border-color: #AA0000;
}
.ref:visited:hover {
background-position: 0 0;
color: white;
color: white;
	border-color: #34495E;
}
.reg {
	top: 0;
	left: 0;
	background-color: #34495E;
	height: 5vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}
.reg > a {
	float: left;
	font: 2vh 'Forum';
	color: #F5FFFA;
	text-align: center;
	text-decoration: none;
	transition: 0.3s;
}
.reg a:first-child {
	padding: 1vh;
	margin: .5vh 5% 0 40%
}
.reg a:nth-child(2) {
	padding: 1vh;
	margin: .5vh 0 0 0
}
.reg a:hover {
	box-shadow: inset 0 0 0 0.1em #F5FFFA;
	border-radius: 0.5em;
	box-sizing: border-box;
	transition-property: border-radius;
    transition-duration: 0s;
}
.mainmenu > a {
	background: #344969;
	float: left;
	height: 6vh;
	width: 20%;
	transition: 0.3s;
}
.mainmenu > a {
	font: 3vh 'Forum';
	color: #F5FFFA;
	text-align: center;
	text-decoration: none;
	padding-top: 15px;
}
.mainmenu a:first-child {
	border-radius: 0 0 0 1.5vh;
}
.mainmenu a:last-child {
	border-radius: 0 0 1.5vh 0;
}
.mainmenu a:hover {
	border-radius: 0 0 1.5vh 1.5vh;
	box-shadow: 0 0.5em 0.5em grey
}
.mainmenu:hover a:not(:hover) {
	background-color: white;
	color: #3A539B
}
.mainmenu a:active {
	color: #3A539B;
	background-color: white;
}
.sidebar {
	font: 20px 'Kurale';
	border-left: 1px groove grey;
	box-sizing: border-box;
	width: 30%;
}
.wrap {
	width: 48vw;
	display: block;
	margin: 5% 0 5% 10%;
}
.sidebar > form {
	padding: 0 10% 0 5%;
}
.img1 {
	width: 15%;
	height: 15%;
	float: right;
	margin: 0 0 1em 1em;
}
.info {
	font: 20px 'Kurale';
	float: left;
	width: 40%;
	padding: 0 5% 0 10%
}
.container {
	display: table;
    width: 100%;
    box-sizing: border-box;
    margin: 5% 0 10% 0;
}
.container > div,
.container > noindex > div {
    display: table-cell;
    vertical-align: top;
    width: auto;
    box-sizing: border-box;
}
.container > .slider,
.container > noindex > .slider {
	display: table-cell;
    max-width: 960px;
    min-width: 960px;
    width: 960px;
    overflow: hidden;
}
.container > .sidebar,
.container > noindex > .sidebar {
    max-width: 30%;
    min-width: 30%;
    width: 30%;
    overflow: hidden;
}
.text p:first-child::first-letter {
	font: 100px 'Lobster';
	float: left;
}
.text p:not(:first-child) {
	text-indent: 50px;
}
#header{text-align:right; display:none;}
#header{color:#ccc;}
#header a{color:#fff;}
#header a:hover{color:#666;}