@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Kurale&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Forum');
@import url("buttons.css");
@import url("reset.css");
@import url("style_popup.css");
@import url("poll.css");
@import url("sidemenu.css");
@import url("ontop.css");

/* {
  transition: 0.3s;
}*/

.top {
	background: #34495E;
	height: 25vh;
	width: 100%;
}
#toptext {
	font: bold 8vh 'Alegreya Sans';
	color: #F5FFFA;
	text-align: center;
 	padding-top: 10vh;
 	margin-top: 0px
}
#bottomtext {
	font: bold 10vh 'Yanone Kaffeesatz';
	color: #F5FFFA;
	text-align: center;
 	padding-top: 100px;
 	margin-top: 0px
}
.reg > a {
	float: left;
	font: 2vh 'Forum';
	color: #F5FFFA;
	text-align: center;
	text-decoration: none;
	transition: 0.3s;
}
.reg a:first-child {
	padding: 1em;
	margin: 1% 5% 0 40%
}
.reg a:last-child {
	padding: 1em;
	margin: 1% 0 0 0
}
.reg a:hover {
	box-shadow: inset 0 0 0 0.1em #F5FFFA;
	border-radius: 0.5em;
	box-sizing: border-box;
	transition-property: border-radius;
    transition-duration: 0s;
}
.mainmenu > a {
	background: #34495E;
	float: left;
	height: 6vh;
	width: 20%;
	transition: 0.3s;
}
.mainmenu > a {
	font: 3vh 'Forum';
	color: #F5FFFA;
	text-align: center;
	text-decoration: none;
	padding-top: 15px;
}
.mainmenu a:first-child {
	border-radius: 0 0 0 1.5vh;
}
.mainmenu a:last-child {
	border-radius: 0 0 1.5vh 0;
}
.mainmenu a:hover {
	border-radius: 0 0 1.5vh 1.5vh;
	box-shadow: 0 0.5em 0.5em grey
}
.mainmenu:hover a:not(:hover) {
	background-color: white;
	color: #3A539B
}
.mainmenu a:active {
	color: #3A539B;
	background-color: white;
}
.sidebar {
	font: 20px 'Kurale';
	border-left: 1px groove black;
	box-sizing: border-box;
	width: 30%;
	padding: 0 10% 0 5%;
}
.info {
	font: 20px 'Kurale';
	float: left;
	width: 40%;
	padding: 0 5% 0 10%
}
.container {
	display: table;
    width: 100%;
    box-sizing: border-box;
    margin: 10% 0 10% 0;
}
.container > div,
.container > noindex > div {
    display: table-cell;
    vertical-align: top;
    width: auto;
    box-sizing: border-box;
}
.container > .sidebar,
.container > noindex > .sidebar {
    max-width: 30%;
    min-width: 30%;
    width: 30%;
    overflow: hidden;
}
.text p:first-child::first-letter {
	font: 100px 'Lobster';
	float: left;
}
.text p:not(:first-child) {
	text-indent: 50px;
}

#wind {
    position: absolute;
    width:320px;
    left: 35%;
    top: 100px;
    border:solid #105a98 4px;
    display: none;
    z-index: 10;
    overflow: hidden;
    background-color:#348c03;
    color:#fff;
    text-align:center;
    padding:10px;
}
/*body{
  background: gray;
  color: white;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}
font-weight: bold;
	font-family: 'Philosopher', sans-serif;
	font-size: 100px;
h1{color:#0085cc;}
h2{color:white;}
p{ color:black; }*/
p strong{ color:blue;}
/*@font-face {
font-family: namefont;
src: local("namefont"),
url: (font/namefont.ttf);
}*/
.block {
  background: #f1f1f1 url("background.jpg") repeat-x scroll 100px 125px;
}
.info {
  max-height: 360px; /* максимальная высота блока */
  min-height: 120px; /* минимальная высота блока */
}
#wrapper {
  position: relative;
  bottom: 15px; /* смещен на 15px от низа */
  left: 30px; /* смещен на 30px слева */
}
